---
import AddToCart from '../cart/AddToCart';
import ProductInfo from './ProductInfo.astro';

interface Props {
  product: {
    isbn: string;
    name: string;
    price: string;
    description: string
  };
}

const { product } = Astro.props;

---

<div class="product">
  <ProductInfo product={product} />
  <AddToCart client:visible item={product} />
</div>
<style>
  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
  }
</style>

